<!-- TODO: Убрать ненужные закомментированные строчки кода -->
{% load mptt_tags %}
{% load group_tag %}
{% load cat_file %}
{% load cat_entities %}
{%if request.user.is_authenticated%}
    <li class="last">{{user.username}} | <a href="/logout">Login out</a></li>
{%else%}
    <li class="last"><a href="/register">Registration</a> | <a href=" ">Login</a></li>
{%endif%}
<hr>
{%if request.user.is_authenticated%}
    {% if request.user|has_group:"Администратор" %}

        <div class="category-list-name">Доступные функции</div><br>
        <a href='/form'><button type="GET">Создать категорию</button></a>
        <a href='/files'><button type="GET">Просмотреть файлы</button></a><br>
        <br><a href='/add-document'><button type="GET">Добавить документ</button></a>
        <a href='/add-file'><button type="GET">Добавить файл</button></a>
        <hr>
        <div>Дерево категорий</div>
        <ul>
        {% recursetree object_list %}

            <li>
                <!--<a href="/category/{{ node.ent_name }}/">
                {{ node.ent_name }}
                {{ node.id }}
                {{ node.level }}
                </a>-->
                <a href="/category/{{ node.id }}/">
                {{ node.ent_name }}
                <!--{{ node.id }}-->
                <!--{{ node.level }}-->
                </a>
                {% if node.is_root_node %}
                    {% if node.id == root_category_id %}
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}


                            </ul>
                        {% endif %}
                    {% endif %}

                {% else %}
                    {% if not node.is_leaf_node %}
                        {% if current_category.id == node.id %}
                            <ul class="children">
                                {{ children }}







                            </ul>

                        {% elif node.level < current_category.level %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    {% endif %}

                {% if node.is_leaf_node %}
                        {% if current_category.id == node.id %}
                            {% if node.cat_file_id != "NULL" %}
                                <ul class="files-currrent-list">
                                    {% current_category_files as cf %}

                                    {% current_entities as ce %}




                                    {% for ent in ce %}
                                        {% if node.id == ent.id_entities_id %}
                                            {% for a in cf %}
                                                {% if ent.id_file_id == a.id %}
                                                    <a href="{{a.file.url}}" target="_blank">{{a.file_name}}</a>
                                                    <div>{{a.file_version}}</div>
                                                    <div>{{a.id_document.doc_name}}</div><br>
                                                {% endif %}
                                            {% endfor %}

                                        {% endif %}

                                    {% endfor %}











                                        <!--{% if node.cat_file_id == cf.id %}
                                            <a href="{{file.file.url}}" target="_blank">{{file.file_name}}</a>
                                            <div>{{file.file_version}}</div>
                                             <div>{{file.id_document.doc_name}}</div><br>
                                        {% else %}
                                            <div>Нет файлов</div>
                                        {% endif %}-->



                                </ul>
                            {% else %}
                                <ul class="none-files-currrent-list">
                                    <div>Нет прикрепленных файлов</div>
                                </ul>
                            {% endif %}
                        {% endif %}
                {% endif %}

                {% endif %}
            </li>
        {% endrecursetree %}
        </ul>
        <!--<a href='/login'><button type="GET">Авторизоваться</button></a>
        <a href='/register'><button type="GET">Зарегистрироваться</button></a>-->
    {% endif %}

    {% if request.user|has_group:"Полный" %}

        <div class="category-list-name">Доступные функции</div>
        <a href='/files'><button type="GET">Просмотреть файлы</button></a><br>
        <a href='/form'><button type="GET">Создать категорию</button></a> <br>
        <br><a href='/add-document'><button type="GET">Добавить документ</button></a>
        <a href='/add-file'><button type="GET">Добавить файл</button></a>
        <hr>
        <div>Дерево категорий</div>
        <ul>
        {% recursetree object_list %}
            <li>
                <!--<a href="/category/{{ node.ent_name }}/">
                {{ node.ent_name }}
                {{ node.id }}
                {{ node.level }}
                </a>-->
                <a href="/category/{{ node.id }}/">
                {{ node.ent_name }}
                <!--{{ node.id }}-->
                <!--{{ node.level }}-->
                </a>
                {% if node.is_root_node %}
                    {% if node.id == root_category_id %}
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    {% endif %}

                {% else %}
                    {% if not node.is_leaf_node %}
                        {% if current_category.id == node.id %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% elif node.level < current_category.level %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </li>
        {% endrecursetree %}
        </ul>
        <!--<a href='/login'><button type="GET">Авторизоваться</button></a>
        <a href='/register'><button type="GET">Зарегистрироваться</button></a>-->
    {% endif %}

    {% if request.user|has_group:"Редактирование" %}

        <div class="category-list-name">Доступные функции</div><br>
        <a href='/files'><button type="GET">Просмотреть файлы</button></a>
        <a href='/add-document'><button type="GET">Добавить документ</button></a>
        <a href='/add-file'><button type="GET">Добавить файл</button></a>
        <hr>
        <div>Дерево категорий</div>
        <ul>
        {% recursetree object_list %}
            <li>
                <!--<a href="/category/{{ node.ent_name }}/">
                {{ node.ent_name }}
                {{ node.id }}
                {{ node.level }}
                </a>-->
                <a href="/category/{{ node.id }}/">
                {{ node.ent_name }}
                <!--{{ node.id }}-->
                <!--{{ node.level }}-->
                </a>
                {% if node.is_root_node %}
                    {% if node.id == root_category_id %}
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    {% endif %}

                {% else %}
                    {% if not node.is_leaf_node %}
                        {% if current_category.id == node.id %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% elif node.level < current_category.level %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </li>
        {% endrecursetree %}
        </ul>
    {% endif %}

    {% if request.user|has_group:"Просмотр" %}
        <div>У вас недостаточно прав для доступа к данному разделу</div>
        <hr>
        <div>Дерево категорий</div>
        <ul>
        {% recursetree object_list %}
            <li>
                <!--<a href="/category/{{ node.ent_name }}/">
                {{ node.ent_name }}
                {{ node.id }}
                {{ node.level }}
                </a>-->
                <a href="/category/{{ node.id }}/">
                {{ node.ent_name }}
                <!--{{ node.id }}-->
                <!--{{ node.level }}-->
                </a>
                {% if node.is_root_node %}
                    {% if node.id == root_category_id %}
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    {% endif %}

                {% else %}
                    {% if not node.is_leaf_node %}
                        {% if current_category.id == node.id %}
                            <ul class="children">
                                {{ children }}
                                <!-- TODO: разобраться с выводом списка фалов для подкатегорий -->
                                {% block content %}
                                    <ul class="files-list">
                                        {% for file in object_list %}
                                            <p class="first">File name: {{file.file_name}}</p>

                                            <!--<a href="{{file.file}}" download="newfilename">Файл</a>-->
                                            <a href="{{file.file.url}}" target="_blank">Просмотреть файл</a>

                                        {% endfor %}
                                    </ul>

                                {% endblock %}
                            </ul>
                        {% elif node.level < current_category.level %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </li>
        {% endrecursetree %}
        </ul>
    {%endif%}

    {% if request.user|has_group:"Нет" %}
        <div class="container">Нет прав на просмотр содердимого</div>
    {% endif %}
{%endif%}

<hr>

