{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
   <!-- <form action="/add-file/" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <input type="submit" value="Сохранить">
    </form>-->
<style>
    .form-group {
        margin-left: 20px;
        margin-top: 20px;
        width: 500px;
        border: 1px;
    }
</style>
<div class="container mt-3">
    <center>
        <div class="form-group">
            <h3>Добавьте файл</h3>
            <br>
            {% bootstrap_form form %}
            {% bootstrap_form_errors form %}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href='/'><button type="GET" class="btn btn-primary">Назад</button></a>
        </div>
    </center>
</div>
{% endblock %}
